h3 {
  font-weight: bold;
}

.nav-bar {
  border-bottom-style: solid;
}

.undecorated-link {
  color: inherit;
  text-decoration: none;
}

.native-border {
  border-color: darkred;
  border-style: solid;
  border-width: 1px;
  border-radius: 2rem;
}

.icon {
  width: 2.2rem;
  height: 2.2rem;
  margin-right: 0.4rem;
}

.author {
  font-size: 1.2em;
  font-style: italic;
}

.css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root {
  border-color: darkred;
}
