#article-img {
  width: 25vw;
  height: auto;
}

.avatar {
  min-width: 7rem;
}

.avatar-img {
  width: calc(2rem + 2.7vw);
  height: calc(2rem + 2.7vw);
}

.h2-styled-as-h3 {
  font-weight: bold;
  font-size: calc(1.3rem + 0.6vw);
  line-height: 1.2;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.nav-bar {
  border-bottom-style: solid;
}

.undecorated-link {
  color: inherit;
  text-decoration: none;
}

.native-border {
  border-color: darkred;
  border-style: solid;
  border-width: 1px;
  border-radius: 2rem;
}

.icon,
.icon-hover {
  width: 2.2rem;
  height: 2.2rem;
  margin-right: 0.4rem;
  margin-left: 0.4rem;
}

.icon-and-count img.icon-hover {
  display: none;
}

.icon-left:hover img.icon-hover {
  display: inline;
}

.icon-left:hover img.icon {
  display: none;
}

.icon-right:hover img.icon-hover {
  display: inline;
}

.icon-right:hover img.icon {
  display: none;
}

.author {
  font-size: 1.2em;
  font-style: italic;
}

.comment {
  width: 100%;
}

.css-wjh20t-MuiPagination-ul {
  justify-content: center;
}

/* 
  Overrides for Bootstrap's Accordion
*/
.accordion-item,
#comment-box {
  border-color: darkred;
  color: inherit;
}

.accordion-header {
  border-color: darkred;
}

.accordion-button,
.native-button {
  background-color: #fff1e5;
  color: inherit;
}

.accordion-collapse {
  background-color: #fff1e5;
  border-color: darkred;
}

.accordion-button:not(.collapsed) {
  background-color: rgba(139, 0, 0, 0.2);
  color: darkred;
}

.accordion-button:focus,
#comment-box {
  border-color: darkred;
  box-shadow: 0 0 0 0.25rem rgba(139, 0, 0, 0.2);
}

@media only screen and (max-width: 471px) {
  .author {
    text-align: center !important;
  }
}


/* 
  IconAndCount components first pop to a new line
  below this width on ArticleCart
*/
@media only screen and (max-width: 345px) {
  .author {
    font-size: 1rem;
  }

  .timestamp {
    text-align: center !important;
  }

  .icon-and-count-pair {
    margin-left: auto;
    margin-right: auto;
  }

  .nav-bar {
    flex-wrap: wrap;
  }
}

/* Bootstrap's md breakpoint*/
@media only screen and (max-width: 767px) {
  .icon-and-count {
    margin-left: auto !important;
    margin-right: auto !important;
    justify-content: center;
  }
}

@media only screen and (max-width: 780px) {
  #article-img {
    display: none;
  }
}
