#article-img {
  display: block;
  width: 25vw;
  height: 100%;
}

.article {
  white-space: pre-line;
}

.avatar {
  min-width: 7rem;
  min-height: 7rem;
}

.avatar-img {
  width: calc(2rem + 2.7vw);
  height: calc(2rem + 2.7vw);
}

.avatar svg {
  font-size: 3rem;
  margin: auto;
}

.h2-styled-as-h3 {
  font-weight: bold;
  font-size: calc(1.3rem + 0.6vw);
  line-height: 1.2;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.nav-bar {
  border-bottom-style: solid;
}

.sidenav {
  width: 320px;
  position: absolute;
  background: #fff1e5;
  height: 95vh;
  left: -150%;
  transition: all 0.7s;
  border-right: darkred;
  border-right-style: dotted;
  border-right-width: 1px;
}

.sidenav.active {
  left: 0;
}

.sidenav ul li {
  background: #fff1e5;
  border-color: darkred;
  border-style: dotted;
  color: inherit;
}

.sidenav ul li a p:hover {
  background-color: rgba(139, 0, 0, 0.2) !important;
}

.undecorated-link {
  color: inherit;
  text-decoration: none;
}

.native-border {
  border-color: darkred;
  border-style: solid;
  border-width: 1px;
  border-radius: 2rem;
}

.icon,
.icon-hover {
  width: 2.2rem;
  height: 2.2rem;
  margin-right: 0.4rem;
  margin-left: 0.4rem;
}

.icon-and-count img.icon-hover {
  display: none;
}

.icon-left:hover img.icon-hover {
  display: inline;
}

.icon-left:hover img.icon {
  display: none;
}

.icon-right:hover img.icon-hover {
  display: inline;
}

.icon-right:hover img.icon {
  display: none;
}

.author {
  font-size: 1.2em;
  font-style: italic;
}

.comment {
  width: 100%;
}

/* 
  Overrides for Paginator
*/

.css-wjh20t-MuiPagination-ul {
  justify-content: center;
}

.css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root {
  color: darkred !important;
  border-color: rgba(139, 0, 0, 0.39) !important;
}

.css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: rgba(139, 0, 0, 0.08) !important;
}

/* 
  Overrides for Bootstrap's Accordion
*/
.accordion-item,
#comment-box {
  border-color: darkred;
  color: inherit;
}

.accordion-header {
  border-color: darkred;
}

.accordion-button,
.native-button {
  background-color: #fff1e5;
  color: inherit;
}

.accordion-collapse {
  background-color: #fff1e5;
  border-color: darkred;
}

.accordion-button:not(.collapsed) {
  background-color: rgba(139, 0, 0, 0.2);
  color: darkred;
}

.accordion-button:focus,
#comment-box {
  border-color: darkred;
  box-shadow: 0 0 0 0.25rem rgba(139, 0, 0, 0.2);
}

.accordion-button.collapsed::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%238b0000'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%238b0000'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

@media only screen and (max-width: 345px) {
  .author {
    font-size: 1rem;
  }
  .timestamp {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 400px) {
  .icon-and-count-pair {
    margin-left: auto !important;
    margin-right: auto;
  }
}

@media only screen and (max-width: 452px) {
  .timestamp {
    display: block;
  }
}

@media only screen and (max-width: 485px) {
  .author {
    margin-left: auto;
    margin-right: auto;
  }

  .icon-and-count {
    margin-left: auto !important;
    margin-right: auto;
  }
}

@media only screen and (max-width: 490px) {
  .timestamp {
    display: inline-block;
    text-align: center !important;
  }
  .delete-comment-btn {
    float: none !important;
  }
}

@media only screen and (max-width: 515px) {
  .nav-bar {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 780px) {
  #article-img {
    display: none;
  }
}
