body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  color: darkred;
  background-color: #fff1e5;
  align-items: stretch;
  font-family: "Financier Display", "Times New Roman", Times, serif;
  text-align: center;
}
